@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-rgb: 250, 249, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
